In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
x = np.linspace(1,100,10)

In [10]:
x

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [12]:
expense={"Samira":40,"Philip":50,"mandeq":39}
ser=pd.Series(expense)
ser

Samira    40
Philip    50
mandeq    39
dtype: int64

In [19]:
type(ser)

pandas.core.series.Series